body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: skyblue;
}

.container {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.balao {
    font-size: 80px;
    margin-bottom: 15px;
}

#botao {
    padding: 12px 25px;
    font-size: 16px;

    border: none;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
}

#botao:hover {
    background-color: #eee;
}

.subir {
    animation: subir 5s linear;
}

@keyframes subir {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100vh);
    }
}